<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div class="">
      <h2><%= pluralize(@question.errors.count, "error") %> Question could not be saved: </h2>

       <ul>
         <% @question.errors.full_messages.each do |message| %>
         <li><%= message %></li>
         <% end %>
       </ul>
    </div>
  <% end %>

  <div class="field" id="title">
    <%= f.label :title %><br>
    <%= f.text_field :title%>
  </div>
  <div class="fields" id="description">

    <%= f.label :description %><br>
    <%= f.text_field :description%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
